body, html{
    margin: 0px;
    padding: 0px;
    
}

header > h1{
    padding-top: 30px;
    text-align:center;
    background-color: #F2F3EE;
    margin:0px;
    height:80px;
    font-family: 'Crimson Text', serif;
    font-size:50px;
    padding-bottom:30px;
    
    
}
nav > ul{
    list-style-type: none;
    height: 50px;
    line-height: 50px;
    background-color: #c9af98;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size:20px;
    padding: 0px;
    
}

nav ul > li{
    display: inline-block;
    margin:  0 6% 0 3%;
    color: #3a4660;
    font-weight: bold;

}

nav ul li a {
    text-decoration: none;
    color: #3a4660;
    font-weight: bold;
    font-family: 'Crimson Text', serif;

}
nav ul li a:hover {
    color:white;
    font-weight:bold;
}

.personal{
    list-style-type: none;
    color: #3a4660;
    font-family: 'Crimson Text', serif;
}

.headersinfo, .headers{
    color: #3a4660;
    font-family: 'Crimson Text', serif;

}

.personal, .headersinfo, .headers{
    margin: 25px;
}